container_commands:
  prepare_apcu_73:
    command: chmod u+r+x .ebextensions/php73-apcu.sh
    test: "[ -f .ebextensions/php73-apcu.sh ]"
  install_apcu_73:
    command: ".ebextensions/php73-apcu.sh"
files:
  "/etc/php.d/project.ini" :
    mode: "000644"
    owner: root
    group: root
    content: |
      upload_max_filesize=64M
      post_max_size=64M
  "/etc/php-7.3.d/20-apcu.ini" :
    mode: "000644"
    owner: root
    group: root
    content: |
      extension=apcu.so